.cart-container{
  padding-top: 5px; 
  .empty-cart-text{
    text-align: center;
    font-size: 2rem;
    color: #aaa;
    padding: 20px;
  }
  .empty-cart {
    width: 80%;
  }
  .title{
    font-size: 1.5rem;
    padding: 20px 0;
  }
  .header{
    background-color: #ddd;
    .header-title, .header-title-left {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .header-title{
      text-align: center;
    }
    
    .remove-btn-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #f14755;
      color: #fff;
      cursor: pointer;
    }
  }
  .item-wrapper {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    .image {
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
    .name {
      font-size: 1.2rem;
      color: #0076b3;
    }
    .addition{
      color: #777;
    }
    @media (min-width: 576px) {
      .price, .number, .total {
        text-align: center;
      }
      .option {
        .delete {
          font-size: .8rem;
          color: #0076b3;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 575.98px) {
      .option {
        .delete {
          font-size: 1rem;
          color: #0076b3;
          cursor: pointer;
        }
      }
    }
    .number {
      .oi {
        font-size: .5rem;
        display: inline-block;
        text-align: center;
        // width: 30%;
        color: #0076b3;
        // border: 1px solid #0076b3;
        // padding: 4px 3px 3px 3px;
        // border-radius: 10px;
      }
      .count {
        // font-size: .5rem;
        display: inline-block;
        text-align: center;
        // padding: 0 10px;
        width: 30px;
        color: #777;
      }
    }
    .default-topping, .addition-topping{
      font-size: .8rem;
    }
  }
  @media (min-width: 576px) {
    .order-wrapper {
      margin-top: -1px;
      .number-counter, .price-counter, .order {
        background-color: #ccc;
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
      }
      .price-counter {
        text-align: right;
      }
      .order{
        background-color: #f14755;
        a {
          color:#fff;
          text-decoration:none; 
        } 
      }
    }
  }
  @media (max-width: 575.98px) {
    .order-wrapper {
      margin-top: -1px;
      .number-counter, .price-counter, .order {
        background-color: #ccc;
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
      }
      .price-counter {
        text-align: right;
      }
      .order{
        background-color: #f14755;
        text-align: center;
        a {
          color:#fff;
          text-decoration:none; 
        } 
      }
    }
  }
  
  .suggestion-wrapper{
    margin-top: 40px;
    .suggestion-title {
      // background-color: #0085ff;
      color: #000;
      font-size: 1.5rem;
      padding: 5px 0;
      border-radius: 4px;
    }
  }
}