.cart-container{
  padding-top: 5px; 
  .suggestion-title {
    background-color: #0085ff;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }
  .item-wrapper {
    padding: 10px 5px 10px 20px;
    height: 150px;
    .image {
      img {
        height: 100%;
        border-radius: 5px;
      }
    }
    .name {
      font-size: 1.2rem;
      color: #0076b3;
    }
    .addition{
      color: #777;
    }
    .default-topping, .addition-topping{
      font-size: .8rem;
    }
  }
}