.pizza-dialog-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 96px 50px 96px;
  background-color: rgba(0, 0, 0, .5);
  .pizza-dialog-hide{
    display: none;
  }
  .pizza-dialog{
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    .pic {
      img{
        width: 100%;
      }
    }
    .name {
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .desc {
      font-size: .9rem;
      color: #777;
    }
    .price {
      .name {
        font-size: .9rem;
        // color: #777;
        display: inline-block;
        padding-right: 20px;
      }
      .value {
        font-size: 2rem;
        color: #e4393c;
        display: inline-block;
      }
    }
    .size, .crust, .topping{
      padding-left: 5px;
      padding-right: 5px;
      .title {
        background-color: #0076b3;
        color: #fff;
        border-radius: 4px;
      }
      .box{
        padding: 0px 4px 0px 0;
        margin-top: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        .container{
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 0;
          img {
            width: 60%;
          }
          .size-text {
            display: inline-block;
            width: 40%;
            text-align: center;
          }
        }
      }
      .active{
        .container{
          // border: 2px solid #0085ff;
          border: 2px solid #0076b3;
        }
      }
    }
    .crust, .topping {
      .box{
        .container{
          img {
            width: 100%;
          }
          .size-text {
            display: inline-block;
            width: 100%;
            text-align: center;
          }
          .topping-text {
            font-size: .5rem;
            overflow:hidden;
            white-space:nowrap;
            display: inline-block;
            width: 100%;
            text-align: center;
          }
          .oi {
            font-size: .5rem;
            display: inline-block;
            text-align: center;
            width: 30%;
            color: #0076b3;
          }
          .count {
            // font-size: .5rem;
            display: inline-block;
            text-align: center;
            width: 40%;
            color: #777;
          }
        }
      }
    }
  }
}