<!DOCTYPE html>
<html lang="en" role="main">
<head>
  <meta charset="UTF-8">
  <meta name="Description" content="Dominos pizza china online demo">
  <meta name="theme-color" content="#343a40">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="application-name" content="Domino's Pizza">
  <meta name="apple-mobile-web-app-title" content="Domino's Pizza">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
  <title>达美乐比萨</title>
</head>

<body>
  <div id="app">Loading...</div>
</body>
</html>